body {
	padding-top: 40px;
}

.text-middle {
	height: 3em;
	line-height: 3em;
}

.jumbotron {
	margin: 0px;
}

.row {
	background-color: #eee;
	margin: 10px 0px;
	padding: 15px 0px;
}

.row.hero {
	background-color: #eef;	
}

.email {
	padding-top: 15px;
	padding-bottom: 15px;
}

#notYou {
	padding: 10px;
}

#social div {
	height: 45px;
	width: 45px;
	background-image: url('../images/social-icons.jpg');
	margin-left: 20px;
}

#social .facebook {
	background-position: -477px -272px;
}

#social .google {
	background-position: -338px -342px;
}

#social .twitter {
	background-position: -268px -272px;
}

#menuButton {
	font-size: 1.5em;
	color: #eee;
	background-color: #222;
	border: none;
}

#meButton {
	content: url('../images/quinn-small.jpg');
	height: 50px;
	width: 50px;
}

.navbar {
	z-index: 2000;
}

.popover {
	clear: both;
	max-width: 500px;
	width: 95% !important;
	max-height: 375px !important;
	left: auto !important;
	right: 5px !important;
	overflow: scroll;
	z-index: 2000;
}

.popover .arrow {
	left: auto !important;
	right: 10px !important;
}

.popover .container {
	background-color: #fff;
	padding: 0px;
}

.popover-image {
	padding: 0px;
}

img.popover-image {
	content: url('../images/quinn-small.jpg');
	padding: 0px;
}

.popover-details {
	padding: 0px;
}

.logout-button {
	display: block;
	margin-right: 10px;
}

.inbox {
	background-color: #222 !important;
	color: #eee;
	padding-left: 5px;
}

.todo-icon {
	margin-top: 5px;
	padding: 0px;
	font-size: 2em;
}

.todo-details {
	padding: 0px;
}

.subtitle {
	margin: 0px 0px 10px 0px;
	height: 40px;
}

hr {
	height: 2px;
	background-color: #ccc;
	margin: 5px 0px;
}

.badge {
	background: #BA070F;
	color: #fff;
	padding: 1px 7px;
	position: fixed;
	right: 40px;
	top: 5px;
	z-index: 2001;
	border-radius: .8em;
	border: 2px solid #fff;
}

#overlay {
	display: none;
	z-index: 1800;
	background-color: #000;
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	opacity: 0.8;
}
