<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

		<title>Pack 842</title>

		<link href="lib/css/bootstrap.min.css" rel="stylesheet">
		<link href="css/scout.css" rel="stylesheet">

	</head>

	<body>

		<div id="overlay"></div>

		<!-- Navbar -->
		<nav class="navbar navbar-fixed-top navbar-inverse" role="navigation">
			<div class="navbar-left">
				<a id="menuButton" class="btn btn-default pull-left">&#9776;</a>				
				<a class="navbar-brand text-center" href="#">Pack 842</a>
			</div>
			<div class="navbar-right">
				<img id="meButton" class="pull-right">
			</div>
		</nav><!-- /.navbar -->

		<div class="badge">3</div>

		<!-- Popover -->
		<div id="mePopover" class="hide">
			<div class="container">
				<div class="popover-image col-xs-4">
					<img class="popover-image">
				</div>
				<div class="popover-details col-xs-8">
					<h4 class="popover-name">Roy Slagle</h4>
					<a class="logout-button btn btn-default" href="#">Log out</a>
				</div>
			</div>

			<div class="container">
				<h4 class="inbox">Inbox</h4>
			</div>

			<div class="todo-list container">
				<div class="container">
					<div class="todo-icon col-xs-2">
						<span class="glyphicon glyphicon-envelope"></span>
					</div>
					<div class="todo-details col-xs-10">
						<h5>Reminder to work on Handyman requirements</h5>
						<div class="subtitle">We made good progress at our last meeting on the Handyman Activity Pin, but there are a few requirements left to complete.</div>
						<div class="text-middle pull-left">Sent yesterday</div>
						<a class="btn btn-default pull-right" href="#">Read</a>
					</div>
				</div>
				<hr>
				
				<div class="container">
					<div class="todo-icon col-xs-2">
						<span class="glyphicon glyphicon-calendar"></span>
					</div>
					<div class="todo-details col-xs-10">
						<h5>Fall Campout</h5>
						<div class="subtitle">One of our most fun Pack events of the year, the Fall Family Campout, is scheduled for Saturday and Sunday, October 12th and 13th, right around the corner at Olentangy Caverns.</div>
						<div class="text-middle pull-left">Oct 12th</div>
						<a class="btn btn-default pull-right" href="#">RSVP</a>
					</div>
				</div>
				<hr>
				
				<div class="container">
					<div class="todo-icon col-xs-2">
						<span class="glyphicon glyphicon-usd"></span>
					</div>
					<div class="todo-details col-xs-10">
						<h5>Time to pay 2013 dues</h5>
						<div class="subtitle">It's that time of year.  Please pay $50 for one scout and $40 for each additional scout.</div>
						<div class="text-middle pull-left">Due in 2 weeks</div>
						<a class="btn btn-default pull-right" href="#">Pay Now</a>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="container">
				<h3>Welcome to Pack 842!</h3>
				<p>Located in Powell, OH serving the families of Scioto Ridge Elementary School.</p>
			</div>
		</div>

		<div class="row hero">
			<div class="col-xs-0 col-sm-2 col-md-4"></div>
			<div id="registrationForm" class="col-xs-12 col-sm-8 col-md-4">
				<p class="subtitle">
					Please register with our site to have access to our secure features and content.  You are registering a kjh lkjh kljh lkjh lkj lkj lkjlkjlkjlkjlkj  lkj lkj lkj lkj lkj lkh kjh ljlkj lkj jhoh oh oih oihj oih oih oih olihj olih olih olih oihol ihoih oih s:
				</p>
				<h4 class="email text-center">royslagle@gmail.com</h3>
				<a id="notYou" class="pull-right">Not you?</a>

				<div class="form-group">
					<input type="password" class="form-control input-lg passwordInput" placeholder="Choose a password" autocomplete="off"  autocorrect="off" autocapitalize="off">
				</div>
				<div class="form-group">
					<input type="password" class="form-control input-lg passwordInput" placeholder="Re-enter password" autocomplete="off" autocorrect="off" autocapitalize="off">
				</div>
				<div class="form-group">
					<a id="showPassword" class="pull-left">Show password</a>
					<a class="btn btn-default btn-lg pull-right" href="registerVerify.html">Register</a>
				</div>
			</div>

			<div class="col-xs-0 col-sm-2 col-md-4"></div>
		</div>

		<div class="row">
			<div class="col-xs-0 col-sm-2 col-md-4"></div>
			<div id="social" class="col-xs-12 col-sm-8 col-md-4">
				<p>Or register using one of these sites:</p>
				<div class="facebook pull-right"></div>
				<div class="google pull-right"></div>
				<div class="twitter pull-right"></div>
			</div>

			<div class="col-xs-0 col-sm-2 col-md-4"></div>
		</div>	

		<div class="row">
			<div class="col-xs-0 col-sm-2 col-md-4"></div>
			<div class="col-xs-12 col-sm-8 col-md-4">
				
				<h4>Questions?</h4>

				<div id="questions" class="panel-group">

					<div class="panel panel-default">
						<div class="panel-heading">
							<h5 class="panel-title">
								<a class="accordion-toggle" data-toggle="collapse" data-parent="#questions" href="#whyRegister">
									Why do I need to register?
								</a>
							</h5>
						</div>
						<div id="whyRegister" class="panel-collapse collapse">
							<div class="panel-body">
								Our site provides various personal information about our kids including names, photos, and meeting times/locations.  We require users to register on our site to verify that only parents or other trusted people have access to this information.
							</div>
						</div>
					</div>

					<div class="panel panel-default">
						<div class="panel-heading">
							<h5 class="panel-title">
								<a class="accordion-toggle" data-toggle="collapse" data-parent="#questions" href="#differentEmail">
									Can I use a different email address?
								</a>
							</h5>
						</div>
						<div id="differentEmail" class="panel-collapse collapse">
							<div class="panel-body">
								For security reasons, access to the restricted content on our site is available by invite only.  The email address displayed above was the address that received the invitation.  To receive an invitation with a different email address, please contact the scout leaders.
							</div>
						</div>
					</div>

				</div>
			</div>

			<div class="col-xs-0 col-sm-2 col-md-4"></div>
		</div>	

		<div class="footer container">
			&copy; 2013 Pack 842
		</div>

		<!-- Bootstrap core JavaScript
		================================================== -->
		<!-- Placed at the end of the document so the pages load faster -->
		<script src="lib/js/jquery-2.0.3.min.js"></script>
		<script src="lib/js/bootstrap.min.js"></script>
		<script src="lib/js/transition.js"></script>
		<script src="lib/js/collapse.js"></script>
		<script src="lib/js/tooltip.js"></script>
		<script src="lib/js/popover.js"></script>
		<script src="lib/js/jquery.dotdotdot.js"></script>
		<script src="js/scout.js"></script>
	</body>
</html>
