<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

		<title>Complete</title>

		<link href="lib/css/bootstrap.min.css" rel="stylesheet">
		<link href="css/scout.css" rel="stylesheet">

	</head>

	<body>

		<!-- Navbar -->
		<div class="navbar navbar-fixed-top navbar-inverse" role="navigation">
			<div class="container">
				<div class="navbar-header">
					<img src="images/logo.gif" class="pull-left">
					<a class="navbar-brand" href="#">Pack 842</a>
				</div>
			</div>
		</div><!-- /.navbar -->

		<div class="row">
			<div class="container">
				<h3>Thank you!</h3>
				<p>You have completed your registration with Pack 842.  Please login to access our site.</p>
			</div>
		</div>

		<div class="row hero">
			<div class="col-xs-0 col-sm-2 col-md-4"></div>
			<div id="registrationForm" class="col-xs-12 col-sm-8 col-md-4">
				<h4>royslagle@gmail.com</h3>
				<a id="notYou" class="pull-right">Not you?</a>

				<div class="form-group">
					<input type="password" class="form-control input-lg passwordInput" placeholder="Password" autocomplete="off"  autocorrect="off" autocapitalize="off">
				</div>
				<div class="form-group">
					<a id="showPassword" class="pull-left">Show password</a>
				</div>
				<div class="clearfix"></div>
				<div class="form-group">
					<div class="checkbox input-lg pull-left">
						<label>
							<input type="checkbox" value="">
							Remember me
						</label>
					</div>
					<a class="btn btn-default btn-lg pull-right" href="registerVerify.html">Login</a>
				</div>
			</div>

			<div class="col-xs-0 col-sm-2 col-md-4"></div>
		</div>

		<div class="row">
			<div class="col-xs-0 col-sm-2 col-md-4"></div>
			<div class="col-xs-12 col-sm-8 col-md-4">
				
				<h4>Questions?</h4>

				<div id="questions" class="panel-group">

					<div class="panel panel-default">
						<div class="panel-heading">
							<h5 class="panel-title">
								<a class="accordion-toggle" data-toggle="collapse" data-parent="#questions" href="#whyRegister">
									Why do I need to register?
								</a>
							</h5>
						</div>
						<div id="whyRegister" class="panel-collapse collapse">
							<div class="panel-body">
								Our site provides various personal information about our kids including names, photos, and meeting times/locations.  We require users to register on our site to verify that only parents or other trusted people have access to this information.
							</div>
						</div>
					</div>

					<div class="panel panel-default">
						<div class="panel-heading">
							<h5 class="panel-title">
								<a class="accordion-toggle" data-toggle="collapse" data-parent="#questions" href="#differentEmail">
									Can I use a different email address?
								</a>
							</h5>
						</div>
						<div id="differentEmail" class="panel-collapse collapse">
							<div class="panel-body">
								For security reasons, access to the restricted content on our site is available by invite only.  The email address displayed above was the address that received the invitation.  To receive an invitation with a different email address, please contact the scout leaders.
							</div>
						</div>
					</div>

				</div>
			</div>

			<div class="col-xs-0 col-sm-2 col-md-4"></div>
		</div>	

		<div class="footer container">
			&copy; 2013 Pack 842
		</div>

		<!-- Bootstrap core JavaScript
		================================================== -->
		<!-- Placed at the end of the document so the pages load faster -->
		<script src="lib/js/jquery-2.0.3.min.js"></script>
		<script src="lib/js/bootstrap.min.js"></script>
		<script src="lib/js/transition.js"></script>
		<script src="lib/js/collapse.js"></script>
		<script src="js/scout.js"></script>
	</body>
</html>
